.container {
  margin: 1rem;
  padding: 0.5rem;
  width: auto;
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(96, 165, 250, var(--tw-border-opacity));
}

.container__header {
  text-align: center;
  font-weight: 500;
}

.sort__down__icon {
  margin-left: 0.5rem;
  cursor: pointer;
}

.delete__icon {
  float: right;
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgba(220, 38, 38, var(--tw-text-opacity));
}
